@import 'meyer-reset.css';
@import 'setup.css';
@import 'settings.css';
@import 'structure.css';
@import 'typography.css';
@import 'components.css';
@import 'modules.css';
@import 'mobile-menu.css';


/* Dev Mode */
/* 
html * {
    border: 1px solid gray;
} 
*/


/* DARK THEME */

body.dark {
    background-color: var(--black);
}


/* THEME TOGGLe */

/* The switch - the box around the slider */
.switch {
    position: fixed;
    display: inline-block;
    width: 60px;
    height: 34px;
    bottom: 15px;
    right: 15px;
    z-index: 1;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--red);
    -webkit-transition: .2s;
    transition: .2s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--gray);
    -webkit-transition: .2s;
    transition: .2s;
  }
  
  input:checked + .slider {			
    background-color: var(--gold);
  }
  
  input:hover + .slider {
    box-shadow: 0 0 10px var(--slider-shadow);
  }
  
  input:checked + .slider:before {
      background-color: var(--gray);
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  