/* MODULE SPECIFIC STYLES */

/* CUSTOM ELEMENTS */

header-content, landing-content, call-to-action, articles-content, footer-content {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

@media (min-width: 600px) {
    header-content, footer-content {
        align-items: center;
        text-align: center;
    }
}


/* SITE-HEADER */

.site-header inner-column {
    padding: var(--space);
    max-width: var(--max-width-2);
}

.site-header nav {
    display: flex;
    gap: calc(var(--space) * 2);
}

header-content {
    width: 100%;
}

header-content .link-voice {
    padding: .3rem;
    align-self: center;
}

.logo {
    width: 120px;
    height: 40px;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}

@media (min-width: 600px) {
    header-content {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 1000px) {
    .site-header {
        position: sticky;
        top: 0;
        z-index: 1;
    }
}

body.light .logo {
    background-image: url('../images/logo-light.png');
}

body.dark .logo {
    background-image: url('../images/logo-dark.png');
}

body.light .site-header {
    background: #fff;
}

body.dark .site-header {
    background-color: #000;
}

@media (min-width: 1000px) {
    body.dark .site-header {
        background-color:unset;
    }
}

body.light .site-header .link-voice {
    border-bottom: 2px solid transparent;
}

body.dark .site-header .link-voice {
    border-bottom: 2px solid transparent;
}

body.light header-content .link-voice:hover {
    border-bottom: 2px solid var(--black);
}

body.dark header-content .link-voice:hover {
    border-bottom: 2px solid var(--white);
}


/* LANDING */

.landing {
    background-repeat: no-repeat;
    background-size: contain;
}

landing-content {
    display: flex;
    justify-content: flex-end;
    margin-top: 40vw;
}

body.dark landing-content {
    margin-top: 0;
    margin-bottom: 40vw;
}

@media (min-width: 600px) {
    .landing inner-column {
        padding-top: calc( var(--space) * 0 );
        padding-bottom: calc( var(--space) * 5 );
        min-height: 60vh;
    }

    body.light landing-content {
        justify-content: space-between;
        margin-left: 0;
        margin-top: calc( var(--space) * 10 );
    }

    body.light landing-content > * {
        padding: calc(var(--space)*2);
        max-width: 70%;
    }

    body.light landing-content .introduction-voice {
        background-color: rgba(255,255,255,0.7);  
    }

    body.light landing-content .strong-voice {
        margin-bottom: 30vh;
    }
}

body.light .landing {
    background-image: url('../images/landing-light-sm.jpg');
    background-color: #fff;
}

body.dark .landing {
    background-image: url('../images/landing-dark.jpg');
    background-color: #000;
    background-position: bottom;
}

@media (min-width: 600px) {
    body.light .landing {
        background-image: url('../images/landing-light-lg.jpg');
        background-size: cover;
        background-position: center;
    }

    body.dark .landing {
        min-height: 60vw;
        background-size: cover;
        background-position: center;
        display: flex;
    }

    body.dark landing-content {
        justify-content: space-between;
        height: 72%;
        margin-bottom: 0;
        align-self: center;
    }
}

@media (min-width: 800px) {
    body.dark .landing inner-column {
        margin-left: 5%;
    }
}

@media (min-width: 1000px) {
    body.dark .landing {
        box-shadow: 0 0 0 180px #000;
    }

    
}



/* CALL TO ACTION */

.cta {
    color: var(--white);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-attachment: fixed;
}

call-to-action .button {
    margin-top: calc(var(--space)*2);
}

@media (pointer: coarse) {
    .cta {
        background-attachment: scroll;
    }
}

@media (min-width: 800px) {
    call-to-action {
        max-width: 55%;
        margin-right: 0;
    }
}

body.light .cta {
    background-image: url('../images/cta-light.jpg');
    background-color: rgba(0,0,0,.7);
}

body.dark .cta {
    background-image: url('../images/cta-dark.jpg');
    background-color: rgba(0,0,0,.5);

}



/* ARTICLES */

articles-content .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-top: calc(6 * var(--space));
    gap: calc(2 * var(--space));
}

.article-card {
    display: flex;
    flex-direction: column;
    padding: calc(2 * var(--space)) calc(2 * var(--space));
    gap: var(--space);
    background-color: var(--gray);
    min-height: fit-content;
    text-decoration: none;
    transition: .2s cubic-bezier(.15,.84,.56,.95);
    box-shadow: inset 0 0 0 5px var(--gray);
}

.article-card picture {
    overflow: hidden;
}

.article-card img {
    transition: .2s cubic-bezier(.15,.84,.56,.95);
}

.article-card:hover img {
    transform:  scale(1.1);
    opacity: .8;
}

.article-card .regular-voice {
    flex-grow: 1;
}

.article-card .link-voice {
    align-self: flex-end;
}

.article-card img {
    aspect-ratio: 3/2;
}

@media (min-width: 600px) {
    articles-content header, articles-content header .introduction-voice, articles-content .attention-voice::after {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

body.light .article-card:hover {
    box-shadow: inset 0 0 0 10px var(--red);
}

body.dark .article-card:hover {
    box-shadow: inset 0 0 0 5px var(--gold);
}


/* BOTTOM CALL TO ACTION */

.bottom-cta {
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    color: var(--white);
    background-blend-mode: multiply;
    background-attachment: fixed;
}

.bottom-cta .introduction-voice {
    text-shadow: 0 0 10px #000;
}

body.light .bottom-cta {
    background-image: url('../images/bottom-cta-light.jpg');
    background-color: var(--dark-red);
}

body.dark .bottom-cta {
    background-image: url('../images/bottom-cta-dark.jpg');
    background-color: var(--dark-gold);
}

@media (min-width: 800px) {
    .bottom-cta {
        background-position: center;
    }
}

@media (pointer: coarse) {
    .bottom-cta {
        background-attachment: scroll;
    }
}


/* FOOTER */

footer inner-column {
    padding-bottom: calc(var(--space)*4);
}

.footer-links {
    margin-top: calc(6 * var(--space));
    display: flex;
    flex-direction: column;
    gap: var(--space);
    width: 100%;
}

.footer-links nav:last-of-type {
    display: flex;
    min-width: 100%;
    flex-direction: row;
    gap: calc(var(--space)*2);
    flex-wrap: wrap;
}

.footer-links nav:last-of-type a {
    font-size: .8rem;
}

.footer-links .link-voice {
    margin-top: calc( 1.5 * var(--space) );
}

footer-content .footer-links .link-voice {
    border-bottom: 2px solid transparent;
}

body.light .footer-links .link-voice:hover {
    border-bottom-color: var(--black);
}

body.dark .footer-links .link-voice:hover {
    border-bottom-color: var(--white);
}


@media (min-width: 600px) {

    footer inner-column {
        padding-top: calc(var(--space)*10);
        padding-bottom: calc(var(--space)*5);
    }
    .footer-links {
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    footer-content .regular-voice {
        margin-left: auto;
        margin-right: auto;
    }

    .footer-links nav:last-of-type {
        justify-content: center;
    }
}