/* MODULE SPECIFIC STYLES */

/* CUSTOM ELEMENTS */

header-content, landing-content, call-to-action, articles-content, footer-content {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

@media (min-width: 600px) {
    header-content, footer-content {
        align-items: center;
        text-align: center;
    }
}


/* SITE-HEADER */

.site-header inner-column {
    padding: var(--space);
}

.site-header nav {
    display: flex;
    gap: calc(var(--space) / 2);
}

header-content {
    width: 100%;
}

header-content .link-voice {
    font-weight: bold;
    font-size: 1rem;
    padding: .3rem;
    align-self: center;
}

.logo {
    width: 120px;
    height: 40px;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}

@media (min-width: 600px) {
    header-content {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 1000px) {
    .site-header {
        position: sticky;
        top: 0;
        z-index: 1;
    }
}

body.light .logo {
    background-image: url('../images/logo-light.png');
}

body.dark .logo {
    background-image: url('../images/logo-dark.png');
}

body.light .site-header {
    background: #fff;
}

body.dark .site-header {
    background-color: #000;
}

body.light .site-header .link-voice {
    border-bottom: 2px solid transparent;
}

body.dark .site-header .link-voice {
    border-bottom: 2px solid transparent;
}

body.light header-content .link-voice:hover {
    border-bottom: 2px solid var(--black);
}

body.dark header-content .link-voice:hover {
    border-bottom: 2px solid var(--white);
}




/* LANDING */

.landing {
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    background-blend-mode: multiply;
}

landing-content {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

@media (min-width: 800px) {
    body.light landing-content {
        max-width: 55%;
        margin-left: 0;
    }
}

body.light .landing {
    background-image: url('../images/landing.jpg');
    background-color: rgba(0,0,0,.2);
    background-position: 35% 0;
}

body.dark .landing {
    background-image: url('../images/landing-dark.jpg');
    background-color: rgba(0,0,0,.2);
    background-position: left;
}



body.dark .landing landing-content {
    flex-direction: row;
    align-items: flex-end;
}


/* CALL TO ACTION */

.cta {
    color: var(--white);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(0,0,0,.5);
}

call-to-action .button {
    margin-top: calc(var(--space)*2);
}

@media (min-width: 800px) {
    call-to-action {
        max-width: 55%;
        margin-right: 0;
    }
}

body.light .cta {
    background-image: url('../images/cta-light.jpg');

}

body.dark .cta {
    background-image: url('../images/cta-dark.jpg');
}



/* ARTICLES */

articles-content .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-top: calc(6 * var(--space));
    gap: calc(1 * var(--space));
}

.article-card {
    display: flex;
    flex-direction: column;
    padding: calc(4 * var(--space)) calc(2 * var(--space));
    gap: var(--space);
    background-color: var(--gray);
    min-height: fit-content;
    text-decoration: none;
    transition: .2s;
}

.article-card:hover {
    transition: .2s;
    border: calc( 1 * var(--space) ) solid;
}

.article-card .regular-voice {
    flex-grow: 1;
}

.article-card .link-voice {
    align-self: flex-end;
}

.article-card img {
    aspect-ratio: 3/2;
}

@media (min-width: 600px) {
    articles-content header, articles-content header .introduction-voice, articles-content .attention-voice::after {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

body.light .article-card:hover {
    border-color: var(--red);
}

body.dark .article-card:hover {
    border-color: var(--gold);
}


/* BOTTOM CALL TO ACTION */

.bottom-cta {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--white);
    background-blend-mode: multiply;
    background-color: black;
}

.bottom-cta .introduction-voice {
    text-shadow: 0 0 10px #000;
}

body.light .bottom-cta {
    background-image: url('../images/bottom-cta-light.jpg');
    background-color: var(--dark-red);
}

body.dark .bottom-cta {
    background-image: url('../images/bottom-cta-dark.jpg');
    background-color: var(--dark-gold);
}


/* FOOTER */

.footer-links {
    margin-top: calc(6 * var(--space));
    display: flex;
    flex-direction: column;
    gap: var(--space);
    width: 100%;
}

.footer-links .link-voice {
    margin-top: calc( 1.5 * var(--space) );
}

footer-content .footer-links .link-voice {
    border-bottom: 2px solid transparent;
}

body.light .footer-links .link-voice:hover {
    border-bottom-color: var(--black);
}

body.dark .footer-links .link-voice:hover {
    border-bottom-color: var(--white);
}


@media (min-width: 600px) {

    footer inner-column {
        padding-top: calc(var(--space)*12);
        padding-bottom: calc(var(--space)*12);
    }
    .footer-links {
        flex-direction: row;
        justify-content: space-between;
    }

    footer-content .regular-voice {
        margin-left: auto;
        margin-right: auto;
    }
}