
* {
	box-sizing: border-box;
	font-size: 16px;
}

html {
	background-color: #343d47;
	color: #c2c8d4;
	font-family: "menlo", sans-serif;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sublime {
	flex-grow: 1;
	margin-bottom: 40px;
}

.inner-column {
	width: 100%;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 16px;
	padding-top: 10vh;
}

.title {
	color: #e25d63;
	font-weight: normal;
	margin-bottom: 20px;
	margin-left: 55px;
}

.bracket {
	color: #5db1b1;
}

.projects a {
	color: #c2c8d4;
	text-decoration: none;
}

.projects a:hover {
	color: #95c590;
	text-decoration: underline;
}

ol {
	border-left: 2px solid #f8af4d;
}

li {
	color: #868e99;
	margin-left: 15px;
}

li + li {
	padding-top: 5px;
}

.foot {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #1a1e23;
	padding: 15px;
	padding-left: 30px;
}

.return {
	color: #76787b;
	text-decoration: none;
}

.return:hover {
	text-decoration: underline;
}



