@import 'meyer-reset.css';
@import 'setup.css';


/* STRUCTURE */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

.inner-column {
    width: 97%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 0;
}


/* TYPOGRAPHY */

h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: 'Libre Baskerville', Serif;
    color: #09352f;
}

h1 {
    text-transform: capitalize;
    font-Size: 60px;
    font-weight: 600;
    line-height: 1.3em;
}

h2 {
    font-style: italic;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 25px;
}

h3 {
    font-family: 'Nunito', Sans-Serif;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 20px;
}

p {
    font-family: 'Nunito', Sans-Serif;
    font-size: 20px;
    color: #09352f;
    line-height: 1.5em;
    max-width: 64ch;

}

em {
    font-style: italic;
}

.name {
    text-decoration: none;
}


/* HEADER */

header {
    background-color: #feebbf;
    position: sticky;
    top: 0px;
    z-index: 2;
}

header .inner-column {
    display: flex;
    align-items: center;
    padding: 0;

}

.profile-picture {
    width: 56px;
    margin-right: 15px;
}


/* LANDING */

.landing {
    background: linear-gradient(to bottom right, #feebbf, #feebbf, #e0e9c3);
}

.landing .inner-column {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    min-height: 40vh;
}

.landing-left {
    margin-right: 10px;
    text-align: center;
}

.landing-right {}

.landing-right p {
    font-weight: bold;
}

.button-one {
    padding: 20px;
    background-color: #fedc92;
    color: #015148;
    border: 2px solid #015148;
    border-radius: 10px;
    max-width: 250px;
    text-align: center;
    font-family: 'Nunito', Sans-Serif;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .1em;
    font-weight: 600;
    box-shadow: 5px 5px #015148;
    margin-top: 40px;
}



/* PROMO */

.promo-cards {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-around;
}

.promo-cards li {
    padding: 20px;
    background: #e0e9c3;
    border-radius: 10px;
    max-width: clamp(180px, 31%, 425px);
}

li.promo-card-two {
    background: #e0e9c3;
}

.big-letter {
    font-family: 'Libre Baskerville', Serif;
    font-size: 160px;
    color: #c1554e;
    line-height: 1;
}

.promo-text {
    font-weight: bold;
    min-height: 150px;
}


/* PROJECTS */

.projects {
    background-color: #e0e9c3;
    min-height: 200vh;
}

.project-wrapper-one {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 200px;
}

.project-wrapper-two {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 75px;
}

.project-wrapper-two + .project-wrapper-two {
	margin-bottom: 250px;
}

.intro-text-wrapper {
    max-width: 800px;
    background-color: #fff;
    padding: 50px;
    padding-top: 70px;
    border-radius: 10px;
    position: absolute;
    top: 77%;
    left: 25px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .4);
}

.intro-picture-wrapper {
    width: 100%;
    margin-left: 27%;
    z-index: 1;
}

.picture-wrapper {
    width: 70%;
    position: relative;
}

.client-one-home,
.client-one-categories {
    margin-bottom: 40%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .4);
}

.client-one-categories {
		margin-top: 300px;
}

.client-one-logo {
    width: clamp(150px, 40%, 300px);
    background-color: #fff;
    padding: 20px;
    position: absolute;
    top: 10%;
    left: 95%;
		box-shadow: 0px 0px 20px rgba(0, 0, 0, .4);
}

.client-one-menu,
.client-one-highlight {
    position: absolute;
    top: 60%;
    left: 40%;
    width: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .4);
}

.text-wrapper {
    background-color: #fff;
    max-width: 500px;
    padding: 50px;
    border-radius: 10px;
    left: 40px;
    top: 80px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .4);
    position: absolute;
}

.text-wrapper-two {
		top: 100%;
		margin-right: 40px;
		z-index: 1;
}

.text-wrapper-three {
		top: 100%;
    z-index: 1;
}


/* CONTACT */

.contact {
    background-color: #fff;
}


/* FOOTER */

footer {
    min-height: 100px;
    background-color: #feebbf;
    color: #09352f;
}

footer .inner-column {
    text-align: center;
}

footer p {
    margin-left: auto;
    margin-right: auto;
}


/* BREAK POINTS */

@media (max-width: 1000px) {

    .intro-text-wrapper {
        left: 0;
    }

    .intro-picture-wrapper {
        margin-left: 0;
    }

    .text-wrapper-three {
    	    	top: 95%;

    }
}


@media (max-width: 640px) {

    h2 {
        text-align: center;
    }

    .landing .inner-column,
    .client {
        flex-direction: column;
    }

    .landing-left {
        margin-bottom: 40px;
    }

    .button-one {
        margin-left: auto;
        margin-right: auto;
    }

    .promo-cards {
        flex-direction: column;
    }

    .promo-cards li {
        max-width: 100%;
        margin: 20px;
    }

    .promo-text {
        min-height: 80px;
    }

.project-wrapper-one {
	margin-bottom: 250px;
}

    .client-one-categories {
    	margin-bottom: 60%;
    }

		.intro-text-wrapper {
			margin-bottom: 100px;
		}

    .text-wrapper-three{
    	top: 90%;
    	right: 20%;
    	left: 0;
    }
}
























