.page-head picture {
	padding: 10px;
}

@media (min-width: 576px) {

	.page-head inner-column {
		flex-direction: row-reverse;
		align-items: center;
	}

	.page-head picture {
		max-width: 50%;
		margin-left: 20px;
	}

}