/* BASIC SETUP */

@import 'meyer-reset.css';
@import 'setup.css';


/* COLOR VARS */

@import 'colors.css';


/* TYPOGRAPHY */

@import 'typography.css';


/* COMMON ELEMENTS SITEWIDE */

@import 'common.css';


/* MODULES */

@import 'modules/site-head.css';
@import 'modules/page-head.css';
@import 'modules/call-to-action.css';
@import 'modules/articles.css';
@import 'modules/footer.css';


/* BLACK THEME */

@import 'black-theme.css';


/* STRUCTURE */

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

inner-column {
	padding: 10px 20px 100px;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
}

main {
	flex-grow: 1;
}


/* WITH BACKGROUND STYLES */

.with-background {
	background: no-repeat url('../images/background.jpg');
	background-size: cover;
	background-position: center center;
}

.overlay {
	background-color: rgba(0, 0, 0, .6);
}