.black-theme {
	background-color: #000;
	color: #fff;
}

.black-theme .button {
	color: var(--pastel);
	background-color: transparent;
	border: 5px solid var(--pastel);
}

.black-theme .button:hover {
	color: var(--orange);
	border: 5px solid var(--orange);
}
